<header>
    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          <span class="fs-4"><img src="/img/logo-DH.png" alt="Logo Digital House" height="50px"></span> 
        </a>
  
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">HOME</a></li>
          <li class="nav-item"><a href="/movies" class="nav-link">PELICULAS</a></li>
          <li class="nav-item"><a href="/actors" class="nav-link">ACTORES</a></li>
          <li class="nav-item"><a href="/genres" class="nav-link">GENEROS</a></li>
          <li class="nav-item"><a href="#" class="nav-link">CMK</a></li>
        </ul>
      </header>